@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Inter', sans-serif;
}

body{
  margin:0;
  padding:0;

  background:
    radial-gradient(circle at top left, rgba(192,38,211,0.15), transparent 30%),
    radial-gradient(circle at top right, rgba(34,211,238,0.15), transparent 30%),
    #050816;

  color:white;

  min-height:100vh;
}